.videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajustar el tamaño mínimo para permitir 4 columnas */
  gap: 20px;
  padding: 20px;
  max-width: 1200px; /* Limitar el ancho máximo del grid */
  margin: 0 auto; /* Centrar el grid horizontalmente */
  place-items: center; /* Centrar los items vertical y horizontalmente */
}

.video {
  text-align: center;
  background-color: #f9f9f9; /* Fondo claro para los videos */
  padding: 15px; /* Aumentar el padding para más espacio */
  border-radius: 10px; /* Aumentar el border-radius para esquinas más redondeadas */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Aumentar la sombra para un efecto más pronunciado */
}

.video h3 {
  margin-bottom: 10px;
  font-size: 1.3em; /* Aumentar el tamaño de la fuente del título */
  color: #333;
}

.video iframe {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}